@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.allContent{
    display: flex;
    font-family: 'Public Sans', sans-serif;
}
.leftContent {
    height: 100vh;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
}
.leftContentName{
    padding: 20px 14px 20px 18px;
    display: flex;
    gap: 10px;
    align-items: center;
    width: 260px;
    height: 64px;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0px;
    vertical-align: middle;
}
.leftContentName p{
    color: #4B465C;
    text-shadow: 0 1px 0 #FFFFFF1A;
    width:198px ;
}
.leftContentName img{
    width: 20px;
    height:20px;
} 
.leftContentMenus{
    padding: 0 14px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0;
    vertical-align: middle;
    font-weight: 400;
}
.leftContentMenus a{
    position: relative;
    width: 232px;
    height: 40px;
    padding-left: 16px;
    text-decoration: none;
    color:#4B465C ;
    display: flex;
    gap: 8px;
    align-items: center;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}
.leftContentMenus a img{
    width: 24px;
    height: 24px;
}
.leftContentMenus a:hover{
    transition: background-color 0.3s ease;
    background: linear-gradient(to right, #7367F0 0%, rgba(115, 103, 240, 0.7) 100%);
    box-shadow: 0px 2px 6px 0px rgba(115, 103, 240, 0.48);
    color: white;
}
.leftContentMenus a:hover img {
    filter: brightness(0) invert(1);
}

.activeBtn {
    background: linear-gradient(to right, #7367F0 0%, rgba(115, 103, 240, 0.7) 100%);
    box-shadow: 0px 2px 6px 0px rgba(115, 103, 240, 0.48);
}
.activeBtn p {
    color: white;
}
.activeBtn  img{
    filter: brightness(0) invert(1);
}
.activeBtn .showBtn::after{
    filter: brightness(0) invert(1);

}
.showBtn::after{
    content: ""; 
    position: absolute;
    right: 15px; 
    top: 14px;
    width: 12px; 
    height: 12px;
    background-image: url('images/icons/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
}
.showBtn.activeBtn::after {
    filter: brightness(0) invert(1);

}
.leftContentMenus a.showBtn:hover::after {
    filter: brightness(0) invert(1);
}
.rightContent{
   padding: 16px 26px 10px 26px;
   width: 1180px;
}
.userMenu{
    position: relative;
    height: 62px;
    width: 1128px;
    display: flex;
    gap: 9px;
    box-shadow: 0px 2px 4px 0px #A5A3AE4D;
    border-radius: 6px;
    justify-content: end;
    padding-right: 17px;
    align-items: center;
}
.userMenu img {
    height: 28px;
    width: 28px;
}
.notify{
    position: absolute;
    background-color: #EA5455;
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    width: 15px;
    height: 15px ;
    border-radius: 50%;
    right: 50px;
    top: 12px;
}
.userActive{
    position: absolute;
    background-color: #28C76F;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%;
    top: 36px;
    right: 15px;
}
.menuName{
    margin-top: 15px;
    margin-bottom: 26px;
    border-radius: 4px;
    height: 36px;
    width: 106px;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0;
    vertical-align: middle;
    color: #7367F0;
    background-color: rgba(115, 103, 240, 0.1);
    padding: 3px 10px;
}
.productTable{
    box-shadow: 0px 4px 18px 0px #A5A3AE4D;
    height: 1021px;
    border-radius: 6px;
    padding: 16px 0;
}
.productTable table{
    margin-top: 16px;
    border-collapse: collapse; 
    width: 1128px;
    height: 803px;
}
.productTable table tr{ 
    height: 75px;
}

.productTable table td {
    border-bottom: 1px solid #DBDADE;
    padding-left: 24px;
}
.productTable table tr:nth-child(2) td{
    border: none;
}
.productTable table tr:first-child td{
    border-top: 1px solid #DBDADE;
}
.productTable table tr:first-child{
    height: 50px;
}
.sortCont{
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    color: #4B465C;
    align-items: center;
}
.sortCont img{
    width: 19px;
    height: 19px;
}
.search{
    display: flex;
    justify-content: end;
}
input{
    border-radius: 6px;
    border: 1px solid #DBDADE;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    vertical-align: middle;
    color: rgb(75, 70, 92, 0.6);
}
.search input{
    width: 513px;
    height: 38px;
    padding: 12px 0 11px 14px;
    line-height: 15px;
    font-size: 13px;
}
.inputConts{
    display: flex;
    gap: 45px;
}
.searchId{
    width: 118px;
    height: 38px;
   padding: 7px 14px;
}
.searchName{
    width: 230px;
    height: 38px;
    padding: 7px 14px;
}
.chooseType{
    width: 230px;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #DBDADE;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    vertical-align: middle;
    color: rgb(75, 70, 92, 0.6);
}
.restName{
    display: flex;
    align-items: center;
    gap: 12px;
}
.restName img{
    height: 55px;
    width: 55px;
}